body {
font-family: 'Kumbh Sans', sans-serif;
}

.hidden {
    display: none;
}

/*NAVBAR*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

/*DROPDOWN NAV*/
#dropdown-menu-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#menu-btn {
    background: none;
    border: none;
}

.nav-menu {
    background-color: black;
    position: fixed;
    height: 300vh;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
}

#nav-menu-group {
    background-color: white;
    height: 100%;
    width: 550px;
    padding: 36px;
    opacity: 1;
}

.nav-link {
    margin-top: 40px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}

.nav-link:hover {
    text-decoration: underline;
    opacity: 0.75;
}

/*NAV AVATAR*/
#image-avatar { 
    width: 40px;
    cursor: pointer;
    border: 2px solid transparent;
}

#image-avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;  
}

/*CART ICON GROUP*/
.cart-icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
} 

#icon-cart {
    position: relative;
}

.cart-number {
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 45%;
    line-height: 100%;
    font-size: 16px;
    font-weight: 700;
    top: -25%;
    right: -25%;
    height: 15px;
    width: 22px;
    text-align: center;
}

.cart-modal {
    position: absolute;
    right: 16px;
    top: 120px;
    width: 568px;
    z-index: 1;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
}

#cart-header {
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding: 30px;
    font-size: 28px;
    font-weight: 700;
}

#product {
    margin: 38px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product-one-thumb {
    width: 80px;
    border-radius: 8px;
}


#nav-cart-details {
    color: hsl(219, 9%, 45%);
    font-size: 25px;
    line-height: 40px;
}

#price-group {
    display: flex;
    gap: 10px;
}

#total-price {
    font-weight: 700;
    font-size: 27px;
    color: black;
}

.cart-empty {
    color:  hsl(219, 9%, 45%);
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    padding: 125px 0;
}

#checkout {
    background-color: hsl(26, 100%, 55%);
    color: white;
    text-align: center;
    font-size: 26px;
    padding: 29px;
    margin: 38px;
    border-radius: 16px;
    cursor: pointer;
}

/*LIGHTBOX*/
.lightbox {
    position: relative;
    overflow: hidden;
}

#main-sneaker-img {
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-arrow {
    left: 5%;
}

.previous-arrow:hover {
    left: 4%;
}

.next-arrow {
    right: 5%;
}

.next-arrow:hover {
    right: 4%;
}

/*SNEAKER DESCRIPTION SECTION*/
.product {
    padding: 32px 38px;
}

#company-title {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 2.8px;
}

#sneaker-title {
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 45px;
    margin-top: 20px;
    line-height: 110%;
}

#sneaker-description {
    font-weight: 400;
    font-size: 24px;
    color: hsl(219, 9%, 45%);
    line-height: 160%;
    margin-top: 25px;
}

#price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

#price-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;   
}

#price {
    font-size: 48px;
    font-weight: 700;
}

#discount {
    font-size: 24px;
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    margin-left: 22px;
    padding: 8px 16px;
    border-radius: 8px;
}

#old-price {
    font-size: 17px;
    font-weight: 700;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}

#counter-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: 24px 38px;
    margin-top: 32px;
    border-radius: 16px;
}

#counter {
    font-size: 24px;
    font-weight: 700;
}

#minus-img,
#plus-img {
    padding: 16px;
}
#minus-img:hover {
    opacity: 0.5;
}
#plus-img:hover {
    opacity: 0.5;
}

#cart-btn {
    background-color: hsl(26, 100%, 55%);
    color: white;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 16px;
    padding: 24px;
    box-shadow: 0px 20px 20px 0px hsl(25, 100%, 94%);
    text-align: center;
}

#cart-btn:hover {
    opacity: 0.5;
}

#second-cart-img {
    height: 26px;
    filter:  brightness(0) invert(1);
}

#cart-description {
    margin-top: 15px;
}

.thumb-gallery {
    display: none;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1440px) {
    

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9rem 5rem;
}

.hidden {
    display: none;
}

header {
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    border-bottom: 2px solid hsl(220, 14%, 75%);
}

/*NAVIGATION BAR*/
#menu-img {
    display: none;
}

.nav-menu {
    display: block;
    position: unset;
    height: unset;
    z-index: unset;
}

#nav-menu-group {
    color: hsl(219, 9%, 45%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    padding: 0px;
    font-weight: 400;
}

#dropdown-menu-group {
    gap: 0px;
}

#icon-close {
    display: none;
}

.nav-link { 
    display: block;
    padding: 60px 0;
    border-bottom: 3px solid transparent;
    margin-top: 0px;
    font-weight: 400;
}

.nav-link:hover {
    text-decoration: none;
    border-bottom: 5px solid hsl(26, 100%, 55%);
}

.navbar-brand {
    margin-right: 75px;
}

.cart-icon-group {
    gap: 55px;
    margin-right: 200px;
}

#image-avatar { 
    width: 80px;
}

#image-cart {
    width: 30px;
}

/*CONTENT*/
.product {
    margin: 50px 32px 0px 150px
}

#sneaker-description {
    margin-bottom: 40px;
    margin-top: 40px;
}

#sneaker-title {
    font-size: 70px;
}

#old-price {
    margin-bottom: 30px;
}

#price-container {
    display: unset;
}

#counter-btn-group {    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#counter-btn{
    width: 40%;
    height: 100px;
}

#cart-btn {
    width: 52%;
    height: 100px;
}

/*Images*/
.lightbox {
    margin-left: 200px;
    width: 100%;
}

#main-sneaker-img {
    border-radius: 25px;
}

.thumb-gallery {
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

#thumb-pictures {
    display: flex;
    height: fit-content;
    overflow: hidden;
}

.thumb {
    width: 100%;
    border-radius: 16px;
}

.thumb:hover {
    opacity: 0.5;
}

.thumb-gallery {
    display: unset;
}

#thumb-pictures {
    margin-top: 40px;
    gap: 60px;
}

.thumb {
    border-radius: 16px;
}

.thumb:hover {
    opacity: 0.5;
}

.arrow {
    display: none;
}

.active {
      border: 3px solid hsl(26, 100%, 55%);
      border-radius: 16px;
}

/*Overlay*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightbox {
    max-width: 900px;
}

.overlay .lightbox {
    margin: 0 auto;
}

#closeBtn {
    width: 70%;
    text-align: end;
    padding: 82px 0;
}

#closeOverlay {
    filter: invert(46%) sepia(77%) saturate(3018%) hue-rotate(3deg) brightness(105%) contrast(105%);
    width: 30px;
}

.overlay .arrow {
    display: unset;
    top: 40%;
    z-index: 1;
    position: absolute;
}

.overlay .next-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    transform: translateX(50%)
}

.overlay .previous-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    transform: translateX(-50%);
}

}